.header-main {
  padding: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-accent);
}

.nav-links-container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.nav-link {
  font-size: 32;
  font-weight: 600; /* font-semibold */
  text-transform: uppercase;
  color: #606060;
  padding: 0.5rem;
  transition: color 0.2s ease-in-out; /* transition */
  cursor: pointer; /* Indicate clickable */
}

.nav-link:hover {
  color: var(--color-highlight);
}

.ghost-icon {
  width: 36px;
  height: 36px;
  padding: 0.5rem;
  margin-right: 2rem; /* TODO LAUREN FIX THIS */
}

.search-section {
  max-width: 28rem; /* max-w-md */
  margin-left: 1rem; /* mx-4 */
  margin-right: 1rem; /* mx-4 */
}

.search-input {
  width: 100%;
  padding: 8px 12px;
  color: #252525;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 2px;
  text-align: center;
  font-size: 16px;
}

.search-input:focus {
  outline: 2px solid var(--color-highlight);
  outline-offset: 2px;
}

.search-input:focus::placeholder {
  color: transparent;
}

.profile-avatar {
  width: 2rem; /* w-8 */
  height: 2rem; /* h-8 */
  background-color: var(--color-highlight);
  border-radius: 9999px; /* rounded-full */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition:
    ring-width 0.2s ease-in-out,
    ring-color 0.2s ease-in-out; /* transition */
}

.profile-avatar a {
  font-size: 0.875rem; /* text-sm */
  font-weight: 700; /* font-bold */
  color: #ffffff;
}
