@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html {
  height: 100%;
  overflow: hidden;
}

:root {
  --color-background: #f9f9f9;
  --color-accent: #f28c28;
  --color-highlight: #ffcb9e;
  --color-highlight-2: #f6ad65;
  --border-radius: 0.3rem;
}
